{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!
{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('css/estiloArma.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}

<!-- <div class="example-wrapper"> -->
<a href="/creator">
<div class="rectangulo gradianteAzul">

<p class="center">Creación</p>
</div>
</a>

<div class="col s12 m4">
    <div class="card gradient-45deg-light-blue-cyan">
    <div class="card-content white-text center">
        <h6 class="card-title font-weight-400">Apple Watch</h6>
        <img src="{{ asset('img/runaVida.png') }}">
        <p>The Apple Watch,
        <br> all time witch will suit any time</p>
    </div>
    <div class="card-action border-non center">
        <a class="waves-effect waves-light btn gradient-45deg-red-pink box-shadow">$ 299/-</a>
    </div>
    </div>
    </div>

<a href="#">
<div class="rectangulo gradianteVerde">

<p class="center">Items</p>
</div>
</a>

<a href="/listaArma">
<div class="rectangulo gradianteAmarillo">
<p class="center">Ver Armas</p>
</div>
</a>
{% endblock %}
