{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<div class="example-wrapper">
  <h1>Listado de armas</h1>
  <div class="container">
    <table class="highlight">
          <thead>
            <tr>
                <th>tipo</th>
                <th>precio</th>
                <th>material</th>               
                <th>Vista rapida</th>
                <th>Modificar</th>
                <th>Eliminar</th>

            </tr>
          </thead>
          <tbody>
            <tr>            
              <td>tipo</td>
              <td>precio</td>
              <td>material</td>
              <td> vista previa</td>
              <td>modificar</td>
              <td>eliminar</td>
            </tr>
            <tr>            
              <td>tipo</td>
              <td>precio</td>
              <td>material</td>
              <td><i class="mdi-action-bug-report circle red darken-2"></i></td>
              <td>modificar</td>
              <td>eliminar</td>
            </tr>
            <tr>            
              <td>tipo</td>
              <td>precio</td>
              <td>material</td>
              <td><i class="mdi-action-bug-report circle red darken-2"></i></td>
              <td>modificar</td>
              <td>eliminar</td>
            </tr>
            <tr>            
              <td>tipo</td>
              <td>precio</td>
              <td>material</td>
              <td><i class="mdi-action-bug-report circle red darken-2"></i></td>
              <td>modificar</td>
              <td>eliminar</td>
            </tr>
          </tbody>
      </table>
    </div>
</div>
{% endblock %}
