{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<div class="example-wrapper">
  <div class="container">    
    <div class="row">
  <div class="col s12">
    <form id="example-form">
      <div>
      <h3>Inf Personal</h3>
      <section>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Event title" id="title" type="text" class="validate">
            <label for="title">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <select>
          <option value="" disabled selected>Choose event type</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
            <label>Event type</label>
          </div>
          <div class="input-field col s6">
            <select multiple>
          <option value="" disabled selected>Choose style(s)</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
            <label>Styles</label>
          </div>
        </div>
      </section>
      <h3>Profile</h3>
      <section>
        <div class="row">
          <div class="input-field col s6">
            <label>Begin date</label>
            <input id="beginDate" type="date" class="datepicker">

          </div>
          <div class="input-field col s6">
            <label>End date</label>
            <input id="endDate" type="date" class="datepicker">

          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Who is organizing the event?" id="organizer" type="text" class="validate">
            <label for="organizer">Organizer</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="http://www.mywebsite.com" id="website" type="text" class="validate">
            <label for="website">Website</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="contact@myweb.com" id="email" type="text" class="validate">
            <label for="email">Contact email</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="description" class="materialize-textarea" length="140"></textarea>
            <label for="description">Describe the event in a tweet!</label>
          </div>
        </div>
      </section>
      </div>
    </form>
  </div>
</div>

    </form>
  <div class="container">
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="https://cdn.rawgit.com/rstaib/jquery-steps/master/build/jquery.steps.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="{{ asset('js/armas.js') }}"></script>

{% endblock %}

