{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<div class="example-wrapper">
   <div class="container">
    <form action="/saveArma" method="post">
      <label for="precio">Precio del arma</label>
      <input type="number" name="precio">
    <br>
    <br>
      <label for="material_frab">Tipo de arma</label>
    <select id="material_frab" name="tipo">
      <option value="" disabled selected>De que tipo es el arma?</option>
      <option value="1">Espada</option>
      <option value="2">Lanza</option>
      <option value="3">Cestos</option>
    </select>
    <br>
    <br>
      <label for="material_frab">Material de fabricaci칩n</label>
    <select id="material_frab" name="material">
      <option value="" disabled selected>Escoje un matrial</option>
      <option value="1">Oro</option>
      <option value="2">Plata</option>
      <option value="3">Espiritual</option>
    </select>


    <br>
    <br>
      <span>A cuantas manos?</span>
      <br>
      <br>
      <label>
          <input  name="manos" type="radio" value="1" checked />
          <span>1</span>
        </label>
      <label>
          <input name="manos" type="radio" value="2"  />
          <span>2</span>
        </label>
        <br>
        <br>
      <label for="danio">Da침o del arma</label>
      <input type="number" name="danio">
      <br>
        <br>
      <label for="danioBase">Da침o base del arma</label>
      <input type="number" name="danioBase">
      <br>
        <br>
      <label for="pa">Punto de armadura del arma</label>
      <input type="number" name="pa">
      <br>
        <br>
      <label for="mr">Momento de reacci칩n del arma</label>
      <input type="number" name="mr">
      <br>
        <br>
      <label for="fue">FUE</label>
      <input type="number" name="fue">
      <br>
        <br>
      <label for="car">Car del arma</label>
      <input type="number" name="car">
      <br>
        <br>
      <label for="des">Destresa del arma</label>
      <input type="number" name="des">

      <span><h4 class="center">Alcances (opcional)</h4></span>
      <br>
        <br>
      <label for="ef">ef del arma (alcance efectivo)</label>
      <input type="number" name="ef">
      <br>
        <br>
      <label for="am">Alcance maximo del arma</label>
      <input type="number" name="am">
      <br>
        <br>
      <label for="tf">tf del arma</label>
      <input type="number" name="tf">
      <br>
      <span>
        <input type="submit" value="Crear Arma">
        <input type="button" value="Cancelar">
      </span>

    </form>
  <div class="container">
</div>
{% endblock %}
