{% extends 'base.html.twig' %}


{% block body %}

<div class="example-wrapper">
   <div class="container">
    <form action="/selectTypeCraft" method="post">
      <label for="objectToCraft">Qué deseas crear?</label>
      <select id="objectToCraft" name="objectToCraft">
        <option value="" disabled selected>Escoje un elemento a crear</option>
        <option value='arma_nueva'>Crear Arma</option>
        <option value='arma_nueva'>Crear Alimento</option>
        <option value='personaje_nuevo'>Crear Personaje</option>
        <option value='arma_nueva'>Crear Monstruo</option>
      </select>
      <span>
        <input type="submit" id="btnCrear" value="Crear">
      </span>
    </form>
   </div> 
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('js/armas.js') }}"></script>
{% endblock %}
